@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

/* Header */
header {
  color: #45A3A9;
  padding-top: 120px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 10px;
}

header p{
  margin: 0;
  color: #000;
  padding-left: 40px;
  padding-right: 40px;
}

/* Footer */
footer {
  color: #3A4B4C;
  padding: 10px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}

/* Prize Gallery */
.prize-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  gap: 20px;
}

/* Prize Card */
.prize-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(33.333% - 40px);
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s;
}

.prize-card p{
  color: #45A3A9;
}

.prize-card:hover {
  transform: translateY(-10px);
}

.prize-card img {
  width: 100%;
  height: auto;
}

.prize-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.prize-card p {
  font-size: 1rem;
  margin: 10px 0;
}


@media (max-width: 992px) {
  .prize-card {
    width: calc(50% - 40px);
  }
}

@media (max-width: 600px) {
  .prize-card {
    width: calc(100% - 40px);
  }
}
